.headerBtn button{
    border-radius: 30px;
    border: none;
    padding: 6px 12px;
    width: 120px;
    color: white;
}

.welcomeBack{
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.signIn{
    color: white;
    font-size: 21px;

}

.logIn{
    background-color: #EF5DA8;
    border-color: #EF5DA8;
}

.logIn:hover{
    background-color: #ee3f99;
    border-color: #EF5DA8;
}

.signUp{
    background-color: #7879F1;
    border-color: #7879F1;
}

.signUp:hover{
    background-color: #4141ee;
    border-color: #7879F1;
}

.left-login{
    background-color: #FCDDEC;
    border-radius: 30px;
    box-shadow: 16px 32px 30px #0000002b ;
}

.right-login{
    background-color: #A5A6F6;
    border-radius: 30px;
    box-shadow: 16px 32px 30px #0000002b ;
}

.signInBtn{
    width: 80%;
    background-color: #EF5D5D;
    padding: 10px 0px;
    border: none;
    color: white;
    border-radius: 30px;
}

.signInBtn:hover{
    background-color: #ed3c3c;
}

.signUpBtn{
    width: 80%;
    background-color: #5D5FEF;
    padding: 10px 0px;
    border: none;
    color: white;
    border-radius: 30px;
}

.signUpBtn:hover{
    background-color: #393cf4;
}