
.purple-color {
    background-color: #5D5FEF;
}

.gray-color {
    background-color: #A2A2A2;
}
.pink-color {
    background-color: #F178B6;
}

.pink-color-bg {
    background-color: #FCDDEC;
}

.red-color{
    background-color: #EF5D5D;
}

.effect-button{
    box-shadow: 3px 5px 4px #00000042;
}

.effect-input{
    box-shadow: 0 4px 4px #0000003d inset;
}



/* +++++++++++++++++++++++++ header ++++++++++++++++++++++++++++++++ */

.headerBtn button{
    border-radius: 30px;
    border: none;
    padding: 6px 12px;
    width: 120px;
    color: white;
}

.logIn{
    background-color: #EF5DA8;
    border: none;
}

.logIn:hover{
    background-color: #ee3f99;
    border: none;
}

.signUp{
    background-color: #7879F1;
    border: none;
}

.signUp:hover{
    background-color: #4141ee;
    border: none;
}

.btnExperience{
    background-color: #7879F1;
    border-radius: 30px;
    border: none;
    padding: 6px 12px;
    color: white;
    width: 80%;
    font-size: 25px;
}

.btnExperience:hover{
    background-color: #4141ee;
}

.btnStartNow{
    background-color: #7879F1;
    border-radius: 30px;
    border: none;
    padding: 6px 80px;
    color: white;
    font-size: 25px;
}

.btnStartNow:hover{
    background-color: #4141ee;
}

.header{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #464646;
}

.content{
    font-size: 25px;
    font-family: 'Itim';
}

.cardHeader{
    border: 1px solid black;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cardHeader p{
    font-size: 30px;
    font-family: 'Itim';
    color: #7879F1; font-weight:
    bold;
}

.cardContent{
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
}

.cardButton{
    border: 1px solid black;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cardButton button{
    background-color: #7879F1;
    border-radius: 30px;
    border: none;
    padding: 6px 80px;
    color: white;
    margin-bottom: 50px;
    font-size: 25px;
}

.cardButton button:hover{
    background-color: #4141ee;
}

.managementBtn button{
    background-color: #FCDDEC;
    border: none;
    width: 350px;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 25px;
}

.managementBtn button:hover{
    background-color: #F178B6;
    border: none;
}

/* .footer{
    background-color: #7879F1;
    border-radius: 30px;
    border: none;
    padding: 6px 80px;
    color: white;
    margin-top: 50px;
    font-size: 25px;

} */

/* .footer:hover{
    background-color: #4141ee;
} */

/* ++++++++++++++++++++++++ analyze page ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#time-lession {
    width: 225px;
    border-color: #BBBBBB !important
}

.search-button-lesson{
    background-color: #5D5FEF;
    border-radius: 7px;
}

.statistic-card {
    height: 165px;
    width: 180px;
    border-radius: 30px !important;
    box-shadow: 16px 32px 30px #0000002b ;
}

.skeleton-bar{
    height: 2px;
}

.activeNumOrGeo {
    color: #5D5FEF !important;
}

.active-skeleton-bar {
    background-color: #5D5FEF !important;
}

.skeleton-component {
    cursor: pointer;
}

.statistics-item {
    height: 140px;
    width: 170px;
    border-radius: 30px !important;
    box-shadow: 16px 32px 30px #0000002b ;
}

.table-header {
    background-color: #A5A6F6;
}

tr.padded-row > td{
    padding: 15px !important;
}

.bdr {
    border-top-left-radius:12px;
    border-top-right-radius:12px;
    overflow: hidden;
  }

#lesson-summary-table th {
    text-align: center;
  }

#lesson-summary-table td {
    text-align: center !important;
  }

.view-all-table{
    margin-left: 125px;
}

.view-all-table a {
    text-decoration: none;
}

.user-details-button {
    height: 40px;
    width: 40px;
    background-color: #7879F1;
}

.user-details-container{
    z-index: 100;
    right: 50px;
    top: 80px;
    display: none;
}

.active {
    display: block;
}

footer {
    background-color: #FCDDEC;
}
