.headerBtn button {
    border-radius: 30px;
    border: none;
    padding: 6px 12px;
    width: 120px;
    color: white;
}

.effect-button {
    box-shadow: 3px 5px 4px #00000042;
}

.fs-14 {
    font-size: 14px;
}

.pink-color-bg {
    background-color: #FCDDEC;
}

.user-details-button {
    height: 40px;
    width: 40px;
    background-color: #7879F1;
}

.user-details-container {
    z-index: 100;
    right: 50px;
    bottom: -25px;
    display: none;
}

.active {
    display: block;
}

.logIn {
    background-color: #EF5DA8;
    border-color: #EF5DA8;
}

.logIn:hover {
    background-color: #ee3f99;
    border-color: #EF5DA8;
}

.signUp {
    background-color: #7879F1;
    border-color: #7879F1;
}

.signUp:hover {
    background-color: #4141ee;
    border-color: #7879F1;
}

.start {
    background-color: #5D5FEF;
    border: none;
    border-radius: 20px;
    width: 100px;
    padding: 5px 0px;
}

.newCard {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/707/220/899/gradient-blue-pink-abstract-art-wallpaper-thumb.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 200px;
    border-radius: 20px;
}

.breadcrumb {
    margin-bottom: 0px !important;
}

.breadcrumb button {
    background-color: #5D5FEF;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0px;
    color: white;
    text-align: center;
}

.inlineText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 230px;
}

.newCard p {
    margin-bottom: 0px !important;
}

table th{
    text-align: center;
}

.headerTable{
    color: white !important;
    background: linear-gradient(90deg, rgba(165,166,246,1) 19%, rgba(120,121,241,1) 38%, rgba(66,67,170,1) 58%, rgba(42,52,121,1) 86%);
}

table a{
    color: black;
}

.addBtn{
    border: none;
    background-color: #5D5FEF;
    padding: 10px 20px;
}

td button{
    border: none;
    background-color: none;
    background: none;
    padding: 0px 0px;
}

a{
    margin: 0px 0px !important;
}