.headerBtn button{
    border-radius: 30px;
    border: none;
    padding: 6px 12px;
    width: 120px;
    color: white;
}

.logIn{
    background-color: #EF5DA8;
    border-color: #EF5DA8;
}

.logIn:hover{
    background-color: #ee3f99;
    border-color: #EF5DA8;
}

.signUp{
    background-color: #7879F1;
    border-color: #7879F1;
}

.signUp:hover{
    background-color: #4141ee;
    border-color: #7879F1;
}

.forgot-password-container{
    width: 600px !important;
    background-color: #FCDDEC;
    border-radius: 20px;
}

.forgot-password-skeleton{
    height: 1px;
    background-color: black;
}

.forgot-password-input{
    border: 1px solid #A49D9D;
}

.forgot-password-btn{
    width: 100px !important;
    background-color: #5D5FEF;
    box-shadow: 4px 6px 5px #0000002b ;
}
    
.cancel-forgot-password-btn{
    margin-right: 20px;
    width: 70px !important;
    background-color: #D0CFCF;
    box-shadow: 4px 6px 5px #0000002b ;
}

.active {
    display: block;
}

.pink-color-bg {
    background-color: #FCDDEC;
}

.effect-button{
    box-shadow: 3px 5px 4px #00000042;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}