.headerBtn button{
    border-radius: 30px;
    border: none;
    padding: 6px 12px;
    width: 120px;
    color: white;
}


.effect-button{
    box-shadow: 3px 5px 4px #00000042;
}

.fs-14 {
    font-size: 14px;
}

.pink-color-bg {
    background-color: #FCDDEC;
}

.user-details-button {
    height: 40px;
    width: 40px;
    background-color: #7879F1;
}

.user-details-container{
    z-index: 100;
    right: 50px;
    bottom: -25px;
    display: none;
}

.active {
    display: block;
}

.logIn{
    background-color: #EF5DA8;
    border-color: #EF5DA8;
}

.logIn:hover{
    background-color: #ee3f99;
    border-color: #EF5DA8;
}

.signUp{
    background-color: #7879F1;
    border-color: #7879F1;
}

.signUp:hover{
    background-color: #4141ee;
    border-color: #7879F1;
}

.start{
    background-color: #5D5FEF;
    border: none;
    border-radius: 20px;
    width: 100px;
    padding: 5px 0px;
}

.cardLesson{
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    overflow: hidden; /* Ensures any overflow from the image is hidden */
    width: 100%; /* Make sure the container takes up the full width of the column */
}

.cardLesson img {
    width: 100%; /* Make the image fill the width of the container */
    height: 150px; /* Make the image fill the height of the container */
    object-fit: contain;
}