.headerBtn button{
    border-radius: 30px;
    border: none;
    padding: 6px 12px;
    width: 120px;
    color: white;
}

.logIn{
    background-color: #EF5DA8;
    border-color: #EF5DA8;
}

.logIn:hover{
    background-color: #ee3f99;
    border-color: #EF5DA8;
}

.signUp{
    background-color: #7879F1;
    border-color: #7879F1;
}

.signUp:hover{
    background-color: #4141ee;
    border-color: #7879F1;
}

.exercise button{
    width: 30px;
}

.exercise button:hover{
    background-color: #A5A6F6;
    font-weight: bold;
}

.statistic-card {
    height: 135px;
    width: 180px;
    border-radius: 30px;
    box-shadow: 16px 32px 30px #0000002b ;
}

.chapter{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #F178B6;
}

.lesson{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.content{
    border: 1px solid black;
    border-radius: 15px;
    height: 500px;
}

.time{
    font-size: 25px;
    font-weight: bold;
}

.wrongAnswer{
    background-color: #E94E4E;
}

.correctAnswer{
    background-color: #AFEF5D ;
}

.user-details-button {
    height: 40px;
    width: 40px;
    background-color: #7879F1;
}

.user-details-container{
    z-index: 100;
    right: 220px;
    top: 80px;
    display: none;
}

.active {
    display: block;
}

.pink-color-bg {
    background-color: #FCDDEC;
}

.effect-button{
    box-shadow: 3px 5px 4px #00000042;
}