<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/SignIn.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/61a0b1fdce.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Log In</title>
</head>

<body style="background-color: #FAFAFA;">

    <div class="pb-5" style="background-color: white; border-top: 1px solid black;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 col-md-6 col-11 mt-5 left-login text-center py-3 launch-app">
                    <div class="col-md-12">
                        <a href="/home"><img src="../assets/images/Logo_LeMath.png" alt="Logo LeMath" width="200px" class="logo-app"></img></a>
                    </div>
                    <div class="col-md-12">
                        <img src="../assets/images/Rectangle 31.png" alt="Logo LeMath" width="80%" height="350px"></img>
                    </div>
                    <button class="signUpBtn py-2 text-uppercase fw-medium rounded-4 border-0 mt-5 text-light"><a href="/register" class="text-light text-decoration-none">Tạo tài khoản</a></button>
                    <button class="signInBtn py-2 text-uppercase fw-medium rounded-4 border-0 mt-4 text-light"><a href="/login" class="text-light text-decoration-none">Đăng nhập</a></button>
                </div>
                <div class="col-lg-5 col-md-6 col-11 mt-5 right-login text-center login-details d-flex flex-column align-items-center">
                    <p class="mt-4 welcomeBack w-75 text-center">Chào mừng bạn đã trở lại</p>
                    <img src="../assets/images/Rectangle 32.png" alt="Logo LeMath" width="300px"></img>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="login-form p-2 px-5">
                                <form action="" method="post">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="bi bi-person-fill" style="color: #6F23C4;"></i>
                                            </span>
                                            <input id="user" type="text" class="form-control effect-button"
                                                placeholder="Tên tài khoản" name="username">

                                        </div>
                                        <div class="username error"></div>
                                        <div class="form-group mt-4 ">
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="bi bi-lock-fill" style="color: #6F23C4;"></i>
                                                </span>
                                                <input id="pass" type="password" class="form-control effect-button"
                                                    placeholder="Nhập mật khẩu" name="password">
                                            </div>
                                            <div class="password error"></div>
                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <div class="d-flex flex-wrap">
                                            <div class="col-6 custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="remember-login"
                                                    name="remember">
                                                <label class="custom-control-label" for="remember-login">Ghi nhớ mật
                                                    khẩu</label>
                                            </div>
                                            <div class="col-6 custom-control custom-checkbox text-end">
                                                <a href="/forgot" class="link-dark">Quên mật khẩu?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group text-center mt-4">
                                        <button class="signInBtn px-5 mt-2 fw-fs" type="submit">Đăng nhập</button>
                                    </div>
                                </form>
                                <div class="text-center mt-2">
                                    <p>Bạn chưa có tài khoản? <a href="/register" class="link-dark">Đăng ký</a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" style="background-color: #FCDDEC;">
        <div class="footer-content d-flex flex-column d-flex align-items-center justify-content-center">
            <h2 class="footer-heading fs-5 fw-normal pt-4 ">Theo dõi trên nền tảng
                xã hội</h2>
            <div class="footer-links my-3">
                <i class="fa-brands fa-facebook fs-2 px-2"></i>
                <i class="fa-brands fa-instagram fs-2 px-2"></i>
                <i class="fa-brands fa-youtube fs-2 px-2"></i>
            </div>
            <small class="footer notes pb-4">© Copyright 2024 by LeMath's
                team</small>
        </div>
    </footer>
    <script>
        const form = document.querySelector("form");

const userError = document.querySelector(".username.error")
const passwordError = document.querySelector(".password.error")

form.addEventListener("submit", async (event) => {
    event.preventDefault();

    userError.textContent = "";
    passwordError.textContent = "";

    const username = form.username.value;
    const password = form.password.value;

    try {
        const response = await fetch("/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                username,
                password,
            }),
        });

        const data = await response.json();
        console.log(data.errors);

        if (data.errors) {
            if (data.errors.username) {
                userError.textContent = data.errors.username;
            }
            passwordError.textContent = data.errors.password;
        }
        if (data.user) {
            location.assign('/home');
        }

    } catch (error) {
        console.log(error);
    }
});
    </script>

</body>


</html>